<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->
<head th:replace="~{fragments::head}">
</head>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{fragments::main-top}">

    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace="~{fragments::main-header}" >
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{fragments::top-search}">
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div th:replace="~{fragments :: all-title-box}">
    </div>
    <!-- End All Title Box -->

    <section id="login-form">
        <div class="noi-dung">
            <div class="form">
                <h2>Log In</h2>
                <div th:if = "${param.error}" class="alert alert-danger text-center">
                    Usuario o contraseña inválido
                </div>
                <div th:if = "${param.logout}" class="alert alert-success text-center">
                    Has cerrrado sesión
                </div>
                <form th:action="@{/do-login}" method="post">
                    <div class="input-form">
                        <input type="text" placeholder="Name" name="username" required>
                    </div>
                    <div class="input-form">
                        <input type="password" placeholder="Password" name="password">
                    </div>
                    <div class="input-form">
                        <input type="submit" value="Log In">
                    </div>
                    <div class="input-form">
                        <p>¿Ya tienes cuenta? <a th:href="@{/register}">Regístrate ya  </a></p>
                    </div>
                </form>
            </div>
        </div>

    </section>
  
    </section>
    <!-- Start copyright  -->
    <footer th:replace="~{fragments::footer}"></footer>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <div th:replace="~{fragments::script}"></div>
</body>

</html>